.center
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.standard
{
    width: 6rem;
}

.padded
{
    margin-bottom: 3rem;
    margin-top: 3rem;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
}

.body
{
    font-size: 18px;
}

.grey
{
    background-color: rgb(225, 225, 225);
}

.padd-vert
{
	padding-top: 3px;
	padding-bottom: 3px;
}

.no-padd>*
{
    padding: 0 0 0 0;
}

.answer
{
    box-sizing: border-box;
    padding: 0.5rem;
    border: transparent solid 2px;
    cursor: pointer;
}

.selected-answer
{
    border: black solid 2px;
}

.valid-answer
{
    background-color: lightgreen;
}

.invalid-answer
{
    background-color: lightcoral;
}

.flex-center
{
    display: flex;
    gap: 1rem;
}
.flex
{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.audioBtn
{
    cursor: pointer;
}

.quiz
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.quiz>*
{
    flex-basis: 50%;
}