<form action="/learn/{{ lesson.lesson_id }}" method="post">
    <div class="form-check body">
        <input type="hidden" name="lesson_id" value="{{ lesson.lesson_id }}">
        {% for sentence in lesson.self_check.split('\\n') %}
            <br>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{ sentence.strip() }}" id="{{ sentence.strip() }}">
                <label class="form-check-label" for="{{ sentence.strip() }}">
                {{ sentence.strip() }}
                </label>
            </div>
        {% endfor %}
        
    </div>

    <br>
    <br>

    <button type="button submit" class = "btn btn-primary">Submit</button>
</form>