{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class = "col-12">
		<h1 class="center">Empower Your Ride</h1>
	</div>
</div>

<br>
<br>

<div class="row">
    <div class = "col">
		<h4 class = "center">Learn to Repair Your Bike Tires and Never be Stranded Again!</h4>
	</div>
</div>

<br>
<br>
<br>

<div class = "row padd-vert justify-content-md-center">
	<div class = "col">
		<a class="btn btn-primary btn-lg btn-block" href="/learn/1" role = "button">Start Learning</a>
	</div>
</div>	
{% endblock %}