{% extends "layout.html" %}

{% block content %}
<script>    
    var lesson = JSON.parse('{{ lesson | tojson | safe}}');
    var selected = JSON.parse('{{ selected_sentences | tojson | safe}}');
</script>

<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>

<!-- basic page info. -->
<div class="row">
    <div class = "col-12">
        <h1 id = "lesson_title"></h1>
    </div>
</div>

<br>
<div class="row">
    <div class = "offset-md-1 col-10">
        <p id = "lesson_body" class = "body dark text-justify"></p>
    </div>
</div>

{% if lesson.flashcards %}
<div class = "row" id = "card_block">
    <div class = 'col-6' id='card-col-1'></div>
    <div class = 'col-6' id='card-col-2'></div>  
</div>
{%endif%}


{%if lesson.self_check %}
<div class="row">
    <div class = "offset-md-1 col-10">
        {% include "checkbox.html" %}
    </div>
</div>
{%endif%}


{% if lesson.image %}
    <div class="row">
        <div class="col-4">
            <div id="droppable-div">
                <img class="main-img" src="{{ lesson.image }}" alt="main image">
            </div>
        </div>
        <div class="col-8">
            <div class="row padded">
                {% for tool in lesson.tools %}
                  <div class="col-md-6 col-lg-3">
                    <div class="draggable-container">
                      <img data-tool-id="{{ tool.id }}" data-match="{{ tool.match_id }}" data-feedback="{{tool.feedback}}" data-combo-feedback="{{tool.combo_feedback}}" class="tool-img" src="{{ tool.image_url }}" alt="Tool Image">
                    </div>
                  </div>
                {% endfor %}
              </div>
        </div>   
    </div>
    
{%endif%}

{%if lesson.audio_clips %}
<div class = "container padd-vert">
    <div class = "row padd-vert">
        {%if lesson.skill_check %}
        <div class="offset-md-1 col-5" id = "audio-col"></div>
            
        <div class="col" id ="word-bank-col">
            <div class="black no-padd">   
                <p class="center"> Word Bank </p>
            </div>
            
            <ul id = "word-bank" class="gallery ui-helper-reset ui-helper-clearfix"></ul>
        </div>
        {% else %}
        <div class="col" id="audio-practice"></div>
        {%endif%}
    </div>
    {%if lesson.skill_check %}
    <div class = "row">
        <div class="offset-md-8 col-4">
            <button type="button" class = "btn btn-lg btn-info btn-block" id = "audio-btn" onclick="resetAudio()">Reset</button>
        </div>
    </div>
    {%endif%}

    <br>
</div>

{%endif%}



<br>
<br>
<br>

<!-- previous and next buttons -->
<div class = "fixed-bottom padd-vert">
    <div class = "row justify-content-between no-padd">
        <div class = "col">
            {% if lesson.prev_lesson | int != 0 %}
            <a class="btn btn-secondary btn-lg btn-block" href="/learn/{{lesson.prev_lesson}}" role="button" id = "btn-prev">Prev</a>
            {%endif%}
        </div>

        <div class = "col textWhite">
            {% if lesson.next_lesson == "end" %}
                <a class="btn accentColor btn-lg btn-block" href="/quiz/start" role="button" id = "btn-next-is-quiz">Next</a>
            {% else %}
                <a class="btn accentColor btn-lg btn-block" href="/learn/{{lesson.next_lesson}}" role="button"id = "btn-next">Next</a>
            {%endif%}
        </div>
    </div>
</div>


{% endblock %}