{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class = "col-12">
		<h1 class="center">Bike Tire Repair Quiz</h1>
	</div>
</div>

<br>
<br>

<div class="row">
    <div class = "col">
		<h4 class = "center">Test your knowledge and learn valuable skills to fix your bike tires like a pro.</h4>
	</div>
</div>


<div class = "row padd-vert justify-content-md-center">
	<div class="img-div">
        <a href="/quiz/1" class="custom-link">
            <img src="https://cdn-icons-png.flaticon.com/512/124/124727.png" class="img-div-img" alt="Image Description">
            <div class="img-div-body">
                <h5 class="img-div-title">Start Quiz</h5>
            </div>
        </a>
    </div>
    
</div>	
{% endblock %}